interactions:
- request:
    body: null
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.getmati.com/oauth/token
  response:
    body:
      string: '{"access_token": "ACCESS_TOKEN", "expires_in": 3600, "token_type": "Bearer"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://resourceUrl/
  response:
    body:
      string: '{"name":"resourceName"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8f-ejjPa5NRLKui634I0HWy1uDz4OE"
    status:
      code: 200
      message: OK
version: 1
