interactions:
- request:
    body: null
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.getmati.com/oauth
  response:
    body:
      string: '{"access_token": "ACCESS_TOKEN", "expiresIn": 3600, "payload": {"user":
        {"_id": "ID"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body:
        string: ''
    headers:
    method: POST
    uri: https://api.getmati.com/v2/identities/identityId/send-input
  response:
    body:
      string: '[{"result":true},{"result":true},{"result":true}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8f-ejjPa5NRLKui634I0HWy1uDz4OE"
    status:
      code: 201
      message: OK

version: 1
