interactions:
- request:
    body: null
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.getmati.com/oauth
  response:
    body:
      string: '{"access_token": "ACCESS_TOKEN", "expiresIn": 3600, "payload": {"user":
        {"_id": "ID", "firstName": "FIRST_NAME", "lastName": "LAST_NAME"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://resourceUrl/
  response:
    body:
      string: '{"code":401,"message":"Invalid client: client is invalid","name":"invalid_client","status":401,"statusCode":401}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8f-ejjPa5NRLKui634I0HWy1uDz4OE"
    status:
      code: 401
      message: Unauthorized
version: 1
